<div class="footer">
    <div class="page-width">
        <div class="footer-row">
            <div class="footer-column">
                <div class="footer-logo">
                    <img src="footer-logo.png" width="100%">
                </div>
            </div>
            <div class="footer-column">
                <h3>Procedures</h3>
                <a href="/">Septoplasty​</a>
                <a href="/">Closed Rhinoplasty​</a>
                <a href="/">Open Rhinoplasty​</a>
                <a href="/">Revision Rhinoplasty</a>
                <a href="/">Primary Closed Rhinoplasty</a>
                <a href="/">Primary Open Rhinoplasty</a>
                <a href="/">Functional and Aesthetic Rhinoplasty</a>
                <a href="/">Revision Rhinoplasty</a>
            </div>
            <div class="footer-column">
                <h3>About</h3>
                <a href="/">Meet the Team</a>
                <a href="/">Contact Form</a>
                <a href="/">Locations</a>
                <a href="/">FAQ</a>
            </div>
        </div>
    </div>
</div>
