<div class="header">
    <div class="page-width">
        <div class="header-menu">
            <div class="header-menu-logo">
                <img src="header-logo.png" width="100%">
            </div>
            <div class="header-menu-items">
                <div class="header-menu-item header-menu-dropdown">
                    <span>Our Philosophy and the Team</span>
                    <div class="header-menu-dropdown-content">
                        <a class="header-menu-dropdown-content-item" href="/">Our Philosophy</a>
                        <a class="header-menu-dropdown-content-item" href="/">Meet the Team</a>
                        <a class="header-menu-dropdown-content-item" href="/">Patient Testimonials and Videos</a>
                    </div>
                </div>
                <div class="header-menu-item header-menu-dropdown">
                    <span>Procedures</span>
                    <div class="header-menu-dropdown-content">
                        <a class="header-menu-dropdown-content-item" href="/">Septoplasty​</a>
                        <a class="header-menu-dropdown-content-item" href="/">Closed Rhinoplasty​</a>
                        <a class="header-menu-dropdown-content-item" href="/">Open Rhinoplasty​</a>
                        <a class="header-menu-dropdown-content-item" href="/">Revision Rhinoplasty</a>
                        <a class="header-menu-dropdown-content-item" href="/">Primary Closed Rhinoplasty</a>
                        <a class="header-menu-dropdown-content-item" href="/">Primary Open Rhinoplasty</a>
                        <a class="header-menu-dropdown-content-item" href="/">Functional and Aesthetic Rhinoplasty</a>
                        <a class="header-menu-dropdown-content-item" href="/">Revision Rhinoplasty</a>
                    </div>
                </div>
                <a class="header-menu-item header-menu-dropdown" href="/">
                    <span>Gallery</span>
                </a>
                <div class="header-menu-item header-menu-dropdown">
                    <span>Patient Info</span>
                    <div class="header-menu-dropdown-content">
                        <a class="header-menu-dropdown-content-item" href="/">The Journey</a>
                        <a class="header-menu-dropdown-content-item" href="/">Photo Morphing</a>
                        <a class="header-menu-dropdown-content-item" href="/">Patient Stories</a>
                        <a class="header-menu-dropdown-content-item" href="/">FAQ</a>
                    </div>
                </div>
                <div class="header-menu-item header-menu-dropdown">
                    <span>Contact Us</span>
                    <div class="header-menu-dropdown-content">
                        <a class="header-menu-dropdown-content-item" href="/">Contact Form</a>
                        <a class="header-menu-dropdown-content-item" href="/">Locations</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
