<div class="header-contact">
    <div class="page-width">
        <div class="header-contact-item">
            <img src="icons/phone.png">
            <span>07354 002099</span>
        </div>
        <div class="header-contact-item">
            <img src="icons/email.png">
            <span>enquiries@samarhinoplasty.com</span>
        </div>
    </div>
</div>
<div class="header">
    <div class="page-width">
        <div class="header-menu">
            <div class="header-menu-logo">
                <a href=""><img src="images/header-logo.png" width="100%"></a>
            </div>
            <div class="header-menu-items">
                <div class="header-menu-item header-menu-dropdown">
                    <span>Our Philosophy and the Team</span>
                    <div class="header-menu-dropdown-content">
                        <a class="header-menu-dropdown-content-item" href="our-philosophy">Our Philosophy</a>
                        <a class="header-menu-dropdown-content-item" href="meet-the-team">Meet the Team</a>
                        <a class="header-menu-dropdown-content-item" href="patient-testimonials">Patient Testimonials and Videos</a>
                    </div>
                </div>
                <div class="header-menu-item header-menu-dropdown">
                    <a class="header-menu-item-link" href="procedures"><span>Procedures</span></a>
                    <div class="header-menu-dropdown-content">
                        <a class="header-menu-dropdown-content-item" href="septoplasty">Septoplasty</a>
                        <a class="header-menu-dropdown-content-item" href="closed-rhinoplasty">Closed Rhinoplasty</a>
                        <a class="header-menu-dropdown-content-item" href="open-rhinoplasty">Open Rhinoplasty</a>
                        <a class="header-menu-dropdown-content-item" href="revision-rhinoplasty">Revision Rhinoplasty</a>
                        <a class="header-menu-dropdown-content-item" href="primary-closed-rhinoplasty">Primary Closed Rhinoplasty</a>
                        <a class="header-menu-dropdown-content-item" href="primary-open-rhinoplasty">Primary Open Rhinoplasty</a>
                        <a class="header-menu-dropdown-content-item" href="functional-and-aesthetic-rhinoplasty">Functional and Aesthetic Rhinoplasty</a>
                        <a class="header-menu-dropdown-content-item" href="revision-rhinoplasty">Revision Rhinoplasty</a>
                    </div>
                </div>
                <a class="header-menu-item header-menu-dropdown" href="gallery">
                    <span>Gallery</span>
                </a>
                <div class="header-menu-item header-menu-dropdown">
                    <span>Patient Info</span>
                    <div class="header-menu-dropdown-content">
                        <a class="header-menu-dropdown-content-item" href="the-journey">The Journey</a>
                        <a class="header-menu-dropdown-content-item" href="photo-morphing">Photo Morphing</a>
                        <a class="header-menu-dropdown-content-item" href="patient-stories">Patient Stories</a>
                        <a class="header-menu-dropdown-content-item" href="faq">FAQ</a>
                    </div>
                </div>
                <div class="header-menu-item header-menu-dropdown">
                    <span>Contact Us</span>
                    <div class="header-menu-dropdown-content">
                        <a class="header-menu-dropdown-content-item" href="contact-form">Contact Form</a>
                        <a class="header-menu-dropdown-content-item" href="locations">Locations</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
